In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import*

In [8]:
data=pd.read_csv('Loan_application.csv')
print(data.head())

   Age  Salary  Education  Capital  Loan
0   19   19000          0        2     0
1   35   20000          0        2     0
2   26   43000          0        0     0
3   27   57000          0        0     0
4   19   76000          1        0     0

In [9]:
print(data.isnull().sum())

Age          0
Salary       0
Education    0
Capital      0
Loan         0
dtype: int64

In [10]:
print(data.dropna())

     Age  Salary  Education  Capital  Loan
0     19   19000          0        2     0
1     35   20000          0        2     0
2     26   43000          0        0     0
3     27   57000          0        0     0
4     19   76000          1        0     0
..   ...     ...        ...      ...   ...
395   46   41000          1        3     0
396   51   23000          0        4     0
397   50   20000          0        3     0
398   36   33000          0        0     0
399   49   36000          1        1     0

[400 rows x 5 columns]

In [11]:
print(data.isnull().sum())

Age          0
Salary       0
Education    0
Capital      0
Loan         0
dtype: int64

In [12]:
print(data.fillna('1'))

     Age  Salary  Education  Capital  Loan
0     19   19000          0        2     0
1     35   20000          0        2     0
2     26   43000          0        0     0
3     27   57000          0        0     0
4     19   76000          1        0     0
..   ...     ...        ...      ...   ...
395   46   41000          1        3     0
396   51   23000          0        4     0
397   50   20000          0        3     0
398   36   33000          0        0     0
399   49   36000          1        1     0

[400 rows x 5 columns]

In [13]:
print(data.isnull().sum())

Age          0
Salary       0
Education    0
Capital      0
Loan         0
dtype: int64

In [14]:
x = data.iloc[:,:-1].values
y=data.iloc[:,-1].values
x

array([[   19, 19000,     0,     2],
       [   35, 20000,     0,     2],
       [   26, 43000,     0,     0],
       ...,
       [   50, 20000,     0,     3],
       [   36, 33000,     0,     0],
       [   49, 36000,     1,     1]], dtype=int64)

In [16]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=40)
ss=StandardScaler()
x_train[:,[0,1]]=ss.fit_transform(x_train[:,[0,1]])
x_test[:,[0,1]]=ss.transform(x_test[:,[0,1]])
x_train

NameError: name 'train_test_split' is not defined